<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Dovico.AssignmentTree.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>

	<system.webServer>
		<!-- Needed for the URL Rewrite functionality (routing) -->
		<modules runAllManagedModulesForAllRequests="true"/>

		<handlers>
			<add name="ClientToServerSideMethodHook" verb="*" path="servermethod.ashx" type="Dovico.AssignmentTree.ClientToServerSideMethodHook, Dovico.AssignmentTree" resourceType="Unspecified"/>
		</handlers>
	</system.webServer>
	
	
	<applicationSettings>
		<Dovico.AssignmentTree.Properties.Settings>
			<setting name="CONSUMER_SECRET" serializeAs="String">
				<value>Add Your 3rd Party Developer Token Here</value>
			</setting>
		</Dovico.AssignmentTree.Properties.Settings>
	</applicationSettings>
</configuration>